body {
    /* text-align: center; */
    background-color: rgb(238, 238, 238);
    font-size: 20px;
}

.field_box {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}



input {
    padding: 10px;
    border: none;
    font-size: 30px;
}

button {
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(232, 255, 232);
}

.result_box {
    /* font-weight: bold; */
    font-size: 30px;
    margin-bottom: 16px;
}

span {
    font-weight: bold;
    background-color: white;
    padding: 16px;
}