body {
    text-align: center;
    background-color: rgb(238, 238, 238);
    font-size: 20px;
}

.field_box {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}



input {
    padding: 8px;
    border: none;
    font-size: 20px;
    border-radius: 2px;
    max-width: 40px;
}

button {
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgb(232, 255, 232);
}


span {
    font-weight: bold;
    color: rgb(54, 90, 0);
}